.cart {
  margin-top: 100px;
}

.cart_items_title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
  gap: 5px;
}

.cart_items_item {
  margin: 10px 0;
  color: black;
}

.cart_items_item img {
  width: 50px;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart_items_item .cross {
  cursor: pointer;
  color: tomato;
  font-size: 18px;
}

.cart_bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart_total {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart_total_details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart_total hr {
  margin: 10px 0;
}

.cart_total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}

.cart_promo_code {
  flex: 1;
}

.cart_promo_code p {
  color: #555;
}

.cart_promo_code_input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}

.cart_promo_code_input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.cart_promo_code_input button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
}

@media (max-width: 750px) {
  .cart_bottom {
    flex-direction: column-reverse;
  }

  .cart_promo_code {
    justify-content: start;
  }
}

@media (max-width: 410px) {
  .cart_items_item img {
    width: 40px;
  }
}

@media (max-width: 320px) {
  .cart_items_item img {
    width: 30px;
  }
}
